* {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(0, 82, 34);
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
}

.nav-links > a {
  color: white;
  text-decoration-color: white;
  font-size: 1.2rem;
}

.shop-cart-link {
  color: red;
  text-decoration-color: red;
}

.shop-cart-link:hover {
  color: rgb(113, 3, 3);
}

.item-container > img {
  max-width: 100px;
  height: auto;
}

.item-container {
  border: 1px solid black;
  border-radius: 5px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sticky-cart {
  position: sticky;
  top: 0;
  color: red;
  background-color: bisque;
  padding: .5rem;
  display: flex;
  justify-content: space-around;
}